{{template "base" .}}

{{define "content"}}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Contact Page</h1>
      <h2 class="text-center">Check Room Availability</h2>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <!-- This kind of button is more commonly used for form submissions
        <button type="button" class="btn btn-success">Make Reservation Now</button>
      -->
      <a href="/about" class="btn btn-success mb-8">Check Availability</a>
    </div>
  </div>
</div>
{{end}}
